.masonry {
  column-count: 4;
  column-gap: 4px;
}

@media only screen and (max-width: 1023px) and (min-width: 799px) {
  .masonry {
    column-count: 3;
  }
}


@media only screen and (max-width: 800px) and (min-width: 499px) {
  .masonry {
    column-count: 2;
  }
}

@media only screen and (max-width: 500px) and (min-width: 240px) {
  .masonry {
    column-count: 1;
  }
}